body {
  font-family: helvetica, sans-serif;
  margin: 0 auto;
}

h1 {
  font-family: 'Crimson Text', serif;
  text-align: center;
  font-size: 75px;
  color: #aaaaaa;
  margin: 60px 0 0 0;
}
h2 {
  text-align: center;
  color: #cccccc;
  margin-bottom: 70px;
}
h3 {
  font-size: 20px;
  font-style: italic;
  text-align: left;
  color: #cccccc;
  margin-bottom: 12px;
}

p {
  color: rgba(255,255,255,1);
  text-align: justify;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  margin-top: 10px;
}

a.navbar-brand {
  font-size: 28px;
}

small {
  padding-bottom: 20px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 15px;
}

button.btn-link {
  font-size: 24px;
  color: #ccc;
}

button.btn-link:hover {
  text-decoration: none;
  font-size: 24px;
  color: #aaa;
}

button.btn-link:focus {
  text-decoration: none;
  font-size: 24px;
  color: #eee;
}

button.btn-link:active {
  text-decoration: none;
  font-size: 24px;
  color: #888;
}

.price {
  float: right;
}

.container {
  margin-bottom: 40px;
}
