ul.nav li{
    display: inline-block;
    padding-right: 10px;
}

a.navbar-brand {
  font-size: 28px;
}

.nav-link {
  font-size: 20px;
}

h3 {
  font-size: 20px;
  font-style: italic;
  text-align: left;
  color: #6f42c1;
  margin-bottom: 12px;
}
